.header-banner {
	position: absolute;
	top: 25%;
	left: 10%;
	transition: all 900ms ease-in-out;
}

.header-title {
	color: #fff;
	font-size: 2rem;
	font-family: var(--font-first);
	margin-bottom: 1rem;
}

.header-name {
	opacity: 0;
	color: #fff;
	font-size: 1.8rem;
	transform: translateY(-60px);
	font-family: var(--font-second);
	margin-bottom: 1.5rem;
	filter: blur(8px);
}

.show-title {
	display: block;
	opacity: 1;
	transform: translateX(0);
	transition: all 800ms ease-in-out;
	filter: blur(0px);
}

@media screen and (max-width: 767px) {
	.header-title {
		overflow: hidden;
		border: none;
		animation: none;
		white-space: normal;
		color: #fff;
		font-size: 3rem;
		font-family: var(--font-first);
		margin-bottom: 1rem;
	}

	.header-name {
		opacity: 1;
		color: #fff;
		font-size: 1.8rem;
		transform: translateY(0);
		font-family: var(--font-second);
		margin-bottom: 2.5rem;
		filter: blur(0);
	}
}
