.main-skills {
	background-color: #151515;
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.wrapper-skills {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.skill-icon {
	font-size: 5rem;
	color: #fff;
	margin-right: 1.2rem;
	max-width: 60px;
}

.skill-icon.flutter {
	height: 70px;
	filter: brightness(0) invert(1);
	transition: all 300ms ease;
}

.skill-card .fa-html5,
.skill-card .fa-css3-alt,
.skill-card .fa-square-js {
	transition: all 300ms ease;
}

.skill-card {
	display: flex;
	align-items: center;
	background-color: rgb(37, 37, 37);
	margin: 0px 50px;
	padding: 40px;
	border-radius: 8px;
	transition: all 300ms ease;
	margin-top: 30px;
}

.skill-card:hover {
	transform: scale(1.1);
	transition: all 300ms ease;
	cursor: default;
}

.skill-card:hover .flutter {
	filter: none;
}

.skill-card:hover .fa-html5 {
	color: #f24d2d;
}

.skill-card:hover .fa-css3-alt {
	color: #29a9df;
}

.skill-card:hover .fa-square-js {
	color: #efd81d;
}

.right-skills {
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.right-skills > h3 {
	color: #fff;
	font-family: var(--font-second);
	font-size: 2rem;
}

.first-skills-row {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.second-skills-row {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.progress-bar {
	height: 25px;
	width: 200px;
	border: solid 3px #fff;
	transition: all 300ms ease;
}

.progress-bar::-webkit-progress-bar {
	background-color: #fff;
	transition: all 300ms ease;
}

.progress-bar::-webkit-progress-value {
	background-color: #151515;
	transition: all 300ms ease;
}

.progress-bar::-moz-progress-bar {
	background-color: #151515;
	transition: all 300ms ease;
}

.skill-card:hover .progress-bar.html::-webkit-progress-value {
	background-color: #f24d2d;
}

.skill-card:hover .progress-bar.html::-moz-progress-bar {
	background-color: #f24d2d;
}

.skill-card:hover .progress-bar.css::-webkit-progress-value {
	background-color: #29a9df;
}

.skill-card:hover .progress-bar.css::-moz-progress-bar {
	background-color: #29a9df;
}

.skill-card:hover .progress-bar.js::-webkit-progress-value {
	background-color: #efd81d;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.skill-card:hover .progress-bar.flutter::-webkit-progress-value {
	background-color: #3fb6d3;
}

.skill-card:hover .progress-bar.flutter::-moz-progress-bar {
	background-color: #3fb6d3;
}

/* CELULAR */
@media screen and (max-width: 767px) {
	.first-skills-row,
	.second-skills-row {
		flex-direction: column;
		margin-top: 0px;
		padding: 0px;
		align-items: center;
	}

	.skill-card {
		justify-content: center;
		padding: 20px 20px;
		max-width: 400px;
		margin: 10px 0px;
	}

	.wrapper-skills {
		padding: 0;
	}

	.wrapper-skills {
		align-items: center;
		justify-content: center;
	}

	.fa-square-js,
	.fa-square-github {
		font-size: 4.2rem !important;
	}
}
