.main-projetos {
	padding: 100px 150px;

	background: rgb(21, 21, 21);
	background: linear-gradient(
		180deg,
		rgba(21, 21, 21, 1) 5%,
		rgba(25, 25, 25, 1) 95%
	);
}

.wrapper-cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

/* CELULAR */
@media screen and (max-width: 767px) {
	.main-projetos {
		padding: 0px 30px;
	}
}
